api:
  dashboard: true

log:
  level: INFO

accessLog: {}

entryPoints:
  web:
    address: ":80"
  traefik:
    address: ":8080"

# Enable ping on the internal entrypoint (used by "traefik healthcheck")
ping:
  entryPoint: "traefik"

providers:
  swarm:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: "traefik-public"
    watch: true
  # no file provider needed for this minimal http-only setup

metrics:
  prometheus:
    entryPoint: "traefik"
